<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      th:include="layout :: page">
<body>

<div th:fragment="content">
  <div class="header">
    <h3>Добавление новой категории</h3>
  </div>
  <form name="newCat" method="post">
    <table class="table table-center-content">
      <tr>
        <td>
          <label for="newCategory">Введите название новой категории:</label>
          <input id="newCategory" name="newCategory" type="text" th:value="${newCategory}" required>
        </td>
      </tr>
    </table>
    <div>
      <input class="btn btn-primary" name="submit" type="submit" value="Сохранить"/>
    </div>
    <br>
    <a th:href="@{/categorySelection(param=ADD_SUBCATEGORY)}">Добавить подкатегорию в существующую
      категорию</a>
    <br>
  </form>
</div>
</body>
</html>