<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      th:include="layout :: page">
<body>

<div th:fragment="content">
  <div class="header">
    <h3>Добавление нового товара</h3>
  </div>
  <form name="newItem" method="post" th:object="${newItem}">
    <table class="table">
      <tr>
        <td>
          <label>Выберите производителя</label>
        </td>
        <td>
          <select th:field="*{manufacturer.id}">
            <option th:each="manufacturer : ${manufacturers}"
                    th:value="${manufacturer.id}"
                    th:text="${manufacturer.title}"></option>
          </select>
        </td>
      <tr>
        <td>
          <label for="newItemTitle">Введите модель товара:</label>
        </td>
        <td>
          <input id="newItemTitle" name="newItemTitle" type="text" th:field="*{title}" required>
        </td>
      </tr>
      <tr>
        <td>
          <label for="newItemPrice">Введите цену</label>
        </td>
        <td>
          <input id="newItemPrice" name="newItemPrice" type="number" th:field="*{price}">
        </td>
      </tr>
      <tr>
        <td>
          <label for="newItemDescription">Введите краткое описание товара:</label>
        </td>
        <td>
          <input id="newItemDescription" name="newItemDescription" type="text"
                 th:field="*{description}">
        </td>
      </tr>
      <tr>
        <td>
          <label>Выберите вариант наличия товара на складе</label>
        </td>
        <td>
          <select th:field="*{availability}">
            <option th:value="${availability.ABSENT}" th:text="ABSENT"></option>
            <option th:value="${availability.PRESENT}" th:text="PRESENT"></option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <label>Выберите подкатегорию товара</label>
        </td>
        <td>
          <select th:field="*{subcategory.id}">
            <option th:each="subcategory : ${subcategories}"
                    th:value="${subcategory.id}"
                    th:text="${subcategory.subname}"></option>
          </select>
        </td>
      </tr>
    </table>
    <div>
      <input class="btn btn-primary" name="submit" type="submit" value="Сохранить"/>
    </div>
  </form>
</div>
</body>
</html>