<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      th:include="layout :: page">
<body>

<div th:fragment="content">
  <div class="header">
    <h3>Список всех доступных категорий товаров</h3>
  </div>
  <div>
    <form name="price" method="post">
      <table class="table table-center-content">
        <tr>
          <td>
            <label>Введите диапазон цен:</label>
          </td>
        </tr>
        <tr>
          <td>
            <label for="minPrice"> от </label>
            <input type="number" th:value="${minPrice}" id="minPrice" name="minPrice">
          </td>
        </tr>
        <tr>
          <td>
            <label for="maxPrice"> до </label>
            <input type="number" th:value="${maxPrice}" id="maxPrice" name="maxPrice">
          </td>
        </tr>
      </table>
      <br>
      <div>
        <input class="btn btn-primary" name="submit" type="submit" value="Показать"/>
      </div>
    </form>
  </div>
</div>
</body>
</html>