<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      th:include="layout :: page">
<body>

<div th:fragment="content">
  <div class="header">
    <h3>Редактирование категории</h3>
  </div>
  <form name="newCategory" method="post" th:object="${newCategory}">
    <div>
      <label>Текущая категория товара</label>
      <label for="newCategoryName" th:text="${oldCategory.name}"></label>
      <input id="newCategoryName" name="newCategoryName" type="text" th:field="*{name}">
    </div>
    <div>
      <input class="btn btn-primary" name="submit" type="submit" value="Сохранить"/>
    </div>
  </form>
</div>
</body>
</html>