<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      th:include="layout :: page">
<body>

<div th:fragment="content">
  <div class="header">
    <h3>Редактирование товара</h3>
  </div>
  <form name="newItem" method="post" th:object="${newItem}">
    <table class="table">
      <tr>
        <td>
          <label>Текущий производитель</label>
        </td>
        <td>
          <label th:text="${oldItem.manufacturer.title}"></label>
        </td>
        <td>
          <label>Новое значение</label>
        </td>
        <td>
          <select th:field="*{manufacturer.id}">
            <option th:each="manufacturer : ${manufacturers}" th:value="${manufacturer.id}"
                    th:text="${manufacturer.title}"></option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <label for="newItemTitle">Текущая модель:</label>
        </td>
        <td>
          <label th:text="${oldItem.title}"></label>
        </td>
        <td>
          <label>Новое значение</label>
        </td>
        <td>
          <input id="newItemTitle" name="newItemTitle" type="text" th:field="*{title}"/>
        </td>
      </tr>
      <tr>
        <td>
          <label for="newItemPrice">Текущая цена:</label>
        </td>
        <td>
          <label th:text="${oldItem.price}"></label>
        </td>
        <td>
          <label>Новое значение</label>
        </td>
        <td>
          <input id="newItemPrice" name="newItemPrice" type="number" th:field="*{price}">
        </td>
      </tr>
      <tr>
        <td>
          <label for="newItemDescription">Текущее описание товара:</label>
        </td>
        <td>
          <label th:text="${oldItem.description}"></label>
        </td>
        <td>
          <label>Новое значение</label>
        </td>
        <td>
          <input id="newItemDescription" name="newItemDescription" type="text"
                 th:field="*{description}">
        </td>
      </tr>
      <tr>
        <td>
          <label>Текущий вариант наличия товара на складе</label>
        </td>
        <td>
          <label th:text="${oldItem.availability}"></label>
        </td>
        <td>
          <label>Новое значение</label>
        </td>
        <td>
          <select th:field="*{availability}">
            <option th:each="availability : ${availabilities}" th:value="${availability}"
                    th:text="${availability}"></option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <label>Текущая категория товара</label>
        </td>
        <td>
          <label th:text="${oldItem.subcategory.category.name}"></label>
        </td>
      </tr>
      <tr>
        <td>
          <label>Текущая подкатегория товара</label>
        </td>
        <td>
          <label th:text="${oldItem.subcategory.subname}"></label>
        </td>
        <td>
          <label>Новое значение</label>
        </td>
        <td>
          <select th:field="*{subcategory.id}">
            <option th:each="subcategory : ${subcategories}" th:value="${subcategory.id}"
                    th:text="${subcategory.subname}"></option>
          </select>
        </td>
      </tr>
    </table>
    <div>
      <input class="btn btn-primary" name="submit" type="submit" value="Сохранить"/>
    </div>
  </form>
</div>
</body>
</html>