<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      th:include="layout :: page">
<body>

<div th:fragment="content">

  <h4>Просмотр товаров доступен:</h4>
  <nav>
    <ul>
      <li><a th:href="@{'/categorySelection'}">по категориям</a></li>
      <li><a th:href="@{'/manufacturerSelection'}">по производителям</a></li>
      <li><a th:href="@{'/availabilitySelection'}">по наличию на складе</a></li>
      <li><a th:href="@{'/priceSelection'}">по цене</a></li>
    </ul>
  </nav>
  <form name="itemTitle" method="post">
  <table class="table table-center-content">
    <tr>
      <td>
        <label>Поиск по модели товара</label>
        <input name="itemTitle" type="text" th:value="${itemTitle}">
        <input class="btn btn-primary" name="submit" type="submit" value="Искать"/>
      </td>
    </tr>
  </table>
  </form>
</div>
</body>
</html>