main {
  border: 2px solid black;
  width: 70%;
  margin: auto;
  text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 300px;
}
.header {
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

th, td {
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #f5f5f5;
}

.table-center-content {
 text-align: center;
}